body{
    text-align: center;
    font-size: 20px;
    margin: 0;
    background: linear-gradient(to bottom, #FF8371 0%,#7C3257 100%);
    box-sizing: border-box;
}
body * {
    box-sizing: border-box;
}