.container {
    position: relative;
    text-align: center;
    // font-family: 'Sriracha', cursive;
    font-family: 'Bungee Inline', cursive;
    overflow: hidden;
    max-width: 320px;
    margin: 0 0;
    left: 50%;
    transform: translateX(-50%);

    .container__logo {
        position: relative;
        height: 65vh;
        // background-image: url(../../images/linesbg.png);
        // background-size: contain;
        // background-repeat: no-repeat;
        // background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;

        .header {
            position: absolute;
            width: 200px;
            height: 200px;
            // top: 50%;
            left: 50%;
            transform: translateX(-50%);
            // display: flex;
            //     align-items: center;
            //     justify-content: center;

            .header__name {
                position: absolute;
                width: 200px;
                // left: 20%;
                transform-origin: 0% 0%;
                transform: perspective(70px) rotateY(5deg) translateX(50px);
                // padding: 20px 0 10px;
                margin: 0;
                box-sizing: border-box;
                text-align: left;
                font-size: 2.6em;
                font-family: 'Beon', cursive;
                color: rgba(255, 255, 255, 1);
                text-shadow: 0 0 10px rgba(255, 255, 255, 1),
                    0 0 20px rgba(255, 255, 255, 1),
                    0 0 30px rgba(0, 219, 219, 1),
                    0 0 40px rgba(0, 219, 219, 0.8),
                    0 0 70px rgba(0, 219, 219, 0.7),
                    0 0 80px rgba(0, 219, 219, 0.6),
                    0 0 100px rgba(0, 219, 219, 0.5);
                line-height: 1.3;

                .header__ele--1 {
                    animation: anim1 3s linear infinite;
                }

                .header__ele--2 {
                    animation: anim2 5s linear infinite;
                }

                .header__ele--3 {
                    animation: anim3 3s linear infinite;
                }

                @keyframes anim1 {
                    0% {
                        opacity: 0.7;
                    }

                    5% {
                        opacity: 0.7;
                    }

                    6% {
                        opacity: 1;
                    }

                    7% {
                        opacity: 1;
                    }

                    8% {
                        opacity: 0.7;
                    }

                    11% {
                        opacity: 0.7;
                    }

                    12% {
                        opacity: 1;
                    }

                    14% {
                        opacity: 1;
                    }

                    15% {
                        opacity: 0.1;
                    }

                    19% {
                        opacity: 0.1;
                    }

                    26% {
                        opacity: 1;
                    }

                    100% {
                        opacity: 1;
                    }

                }

                @keyframes anim2 {
                    0% {
                        opacity: 1;
                    }

                    15% {
                        opacity: 1;
                    }

                    16% {
                        opacity: 0.7;
                    }

                    56% {
                        opacity: 0.7;
                    }

                    57% {
                        opacity: 0.1;
                    }

                    66% {
                        opacity: 0.1;
                    }

                    67% {
                        opacity: 1;
                    }

                    100% {
                        opacity: 1;
                    }

                }

                @keyframes anim3 {
                    0% {
                        opacity: 1;
                    }

                    45% {
                        opacity: 1;
                    }

                    46% {
                        opacity: 0.4;
                    }

                    56% {
                        opacity: 0.4;
                    }

                    56% {
                        opacity: 0.1;
                    }

                    66% {
                        opacity: 0.1;
                    }

                    67% {
                        opacity: 1;
                    }

                    68% {
                        opacity: 1;
                    }

                    69% {
                        opacity: 0.1;
                    }

                    70% {
                        opacity: 0.1;
                    }

                    71% {
                        opacity: 1;
                    }

                    100% {
                        opacity: 1;
                    }

                }

                // display: flex;
                // justify-content: center;
                // align-content: center;
                // align-items: center;
                // flex-wrap: wrap;

                // font-family: 'Knewave', cursive;
                // font-family: 'Sriracha', cursive;
                // font-family: 'Notable', sans-serif;
                // font-family: 'Bungee Inline', cursive;
                // font-family: 'Bungee Shade', cursive;
                // font-family: 'Molle', cursive;
                // font-family: 'Josefin Sans', sans-serif;
            }
        }

        .container__rectangle {
            position: absolute;
            width: 200px;
            height: 220px;
            transform-origin: 0% 0%;
            // transform: skewX(-25deg) translate(-50%, -50%);

            &--red {

                transform: perspective(70px) rotateY(5deg) translateX(20px);
                // left: 50%;
                // top: 50%;
                border: 3px solid #d65bd6;
                box-shadow: 0 0 10px $purple,
                    0 0 30px $purple,
                    inset 0 0 10px $purple,
                    inset 0 0 30px $purple;

                .container__img {
                    position: absolute;
                    width: 170px;
                    height: auto;
                    left: 60%;
                    top: -29%;

                    transform-origin: 0% 50%;
                    transform: perspective(95px) rotateY(5deg);

                    // transform: scale(1) rotateY(4deg); 
                    // filter: drop-shadow(0px 0px 20px #d65bd6);
                }

                .container__img--circle {
                    width: 128px;
                    top: -24%;
                    animation: spin 10s linear infinite;
                    transform-origin: 50% 50%;
                }

                @keyframes spin {
                    0% {
                        transform: perspective(23px) rotateY(2deg) rotateZ(0deg);
                    }

                    100% {
                        transform: perspective(23px) rotateY(2deg) rotateZ(-360deg);
                    }
                }
            }

            &--blue {
                transform: perspective(70px) rotateY(5deg);
                // left: 14%;
                height: 240px;
                width: 200px;
                // top: 50%;
                border: 3px solid #9089d3;
                box-shadow: 0 0 10px #9089d3, 0 0 30px $darkblue, 0 0 40px $darkblue, inset 0 0 10px $darkblue, inset 0 0 30px $darkblue, inset 0 0 40px $darkblue;
            }
        }

        .container__arrows {
            height: 200px;
            width: 200px;
            left: 50%;
            top: 50%;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translate(-50%, 150px);
            transform-origin: 50% 50%;

            @include tablets {
                transform: translate(-50%, 220px);
            }

            .container__arrow {
                height: 220px;
                left: 45px;
                // margin-top: 15%;
                position: absolute;
                transform-origin: 0% -26%;
                display: flex;
                justify-content: center;
                align-items: center;

                transform: perspective(70px) rotateY(15deg) translateX(0px);

                &--first {
                    -webkit-filter: drop-shadow(0px 0px 1px $darkblue);
                    filter: drop-shadow(0px 0px 11px $darkblue);
                    animation: show1 3s linear infinite;

                    @keyframes show1 {
                        0% {
                            opacity: 0.2;
                        }

                        10% {
                            opacity: 0.2;
                        }

                        11% {
                            opacity: 1;
                        }

                        100% {
                            opacity: 1;
                        }
                    }

                    @include tablets {
                        top: -60px;
                        left: -5px;
                        height: 320px;
                        transform: perspective(90px) rotateY(15deg) translateX(60px);
                    }
                }

                &--sec {
                    top: 0px;
                    left: 55px;
                    height: 180px;
                    transform: perspective(65px) rotateY(15deg) translateX(10px);
                    color: white;
                    -webkit-filter: drop-shadow(0px 0px 10px $purple);
                    filter: drop-shadow(0px 0px 30px $purple);
                    animation: show2 3s linear infinite;

                    @keyframes show2 {
                        0% {
                            opacity: 0.2;
                        }

                        20% {
                            opacity: 0.2;
                        }

                        21% {
                            opacity: 1;
                        }

                        // 20% {
                        //     opacity: 1;
                        // }

                        // 61% {
                        //     opacity: 0.2;
                        // }

                        100% {
                            opacity: 1;
                        }
                    }

                    @include tablets {
                        top: -55px;
                        left: 15px;
                        height: 260px;
                        transform: perspective(80px) rotateY(15deg) translateX(60px);
                    }

                }

                &--thirth {
                    top: 10px;
                    left: 65px;
                    height: 140px;
                    transform: perspective(55px) rotateY(15deg) translateX(20px);
                    -webkit-filter: drop-shadow(0px 0px 1px $blue);
                    filter: drop-shadow(0px 0px 11px $blue);
                    animation: show3 3s linear infinite;

                    @keyframes show3 {
                        0% {
                            opacity: 0.2;
                        }

                        30% {
                            opacity: 0.2;
                        }

                        31% {
                            opacity: 1;
                        }

                        100% {
                            opacity: 1;
                        }
                    }

                    @include tablets {
                        top: -50px;
                        left: 35px;
                        height: 220px;
                        transform: perspective(70px) rotateY(15deg) translateX(60px);
                    }
                }
            }

        }
    }




    .container__buttons {
        height: 35vh;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-family: 'Beon', cursive;
        font-size: 1.2em;

        .container__btn {
            position: relative;
            display: inline-block;
            text-decoration: none;
            width: 250px;
            height: 50px;
            margin: 0 auto 0;
            // top: 40%;
            // transform: translateY(-50%);
            display: flex;
            justify-content: center;
            align-items: center;
            color: $white;
            border: 3px solid $white;
            border-radius: 20px;
            transition: all 0.3s linear;
            text-shadow: 0 0 10px $blue, 0 0 20px $blue, 0 0 30px $blue, 0 0 60px $blue;
            box-shadow: 0 0 10px $blue, 0 0 30px $blue, inset 0 0 10px $blue, inset 0 0 30px $blue;

            &:hover {
                text-shadow: 0 0 10px $red, 0 0 20px $red, 0 0 30px $red, 0 0 60px $red;
                box-shadow: 0 0 10px $red, 0 0 30px $red, inset 0 0 10px $red, inset 0 0 30px $red;
            }
        }
    }
}
