.navigation{
    height: 9vh;
    position: relative;
    padding: 0 7%;
    margin: 0 auto;
    max-width: 900px;
    box-sizing: border-box;
    @media only screen and (min-width: 900px) {
        padding: 0;
    }
    .navigation__link{
        position: relative;
        display: inline-block;
        height: 100%;
        float: left;
        color: $white;
        transition: all 0.3s linear;
        &:hover{
            color: $blue;
        }
        .navigation__icon{
            position: relative;
            display: inline-block;
            height: 50px;
            width: 20px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 50px;
            line-height: 50px;
            
        }
    }
    .navigation__title{
        position: relative;
        float: right;
        display: inline-block;
        top: 50%;
        transform: translateY(-50%);
        color: $yellow;
        font-family: 'Bungee Inline', cursive;
    }
    
}

.movie-section{
    height: 79vh;
    max-width: 900px;
    margin: 0 auto;
    // background-color: rgba(250, 235, 215, 0.116);
    font-family: 'Encode Sans Condensed', sans-serif;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    
    @media only screen and (min-width: 400px) {
        margin: 0 auto;
        
        &::-webkit-scrollbar {
            width: 0px; 
            background: transparent;  
        }
    }
    
    .movie-container{
        height: 180px;
        max-width: 320px;
        position: relative;
        margin: 0 auto 10px;
        font-size: 12px;
        background-color: rgba(255, 255, 255, 0.8);
        @media only screen and (min-width: 900px) {
            margin: 0 10px 20px 10px;
        }
        .movie-container__img{
            height: 100%;
            width: 40%;
            position: relative;
            display: inline-block;
            left: 0;
        }
        .movie-container__about{
            height: 100%;
            width: 60%;
            display: inline-block;
            float: right;
            padding: 5px;
            position: relative;
            .movie-container__percent{
                height: 30px;
                width: 30px;
                display: inline-block;
                position: absolute;
                left: 0;
                text-align: center;
                font-size: 20px;
                line-height: 30px;
                padding-left: 10px;
                color: $red;
            }
            .movie-container__title{
                position: relative;
                margin: 0;
                display: block;
                text-align: right;
                font-size: 15px;
            }
            .movie-container__date{
                position: relative;
                margin: 5px 0 0 0;
                display: block;
                text-align: right;
                font-size: 12px;
            }
            .movie-container__text{
                position: relative;
                margin: 5px 0 0 0;
                display: block;
                text-align: left;
                font-size: 13px;
            }
            .movie-container__star{
                position: absolute;
                bottom: 0;
                right: 0;
                padding: 0 10px 10px 0;
                font-size: 25px;
                input[type=checkbox] {
                    visibility: hidden;
                    width: 25px;
                    height: 20px;
                    &:before {
                        content: "\f005";
                        position: relative;
                        font-family: 'Font Awesome\ 5 Free';
                        display: inline-block;
                        width: 25px;
                        height: 20px;
                        right: 0;
                        bottom: 0;
                        font-weight: 400;
                        color: $red;
                        visibility: visible;
                    }
                    &:checked:before {
                        content: "\f005";
                        font-weight: 900;
                        color: $yellow;
                    }
                }
            }
        }
    }
}
.search-section{
    height: 12vh;
    max-width: 900px;
    position: relative;
    margin: 0 auto;
    font-family: 'Encode Sans Condensed', sans-serif;
    
    .search-form{
        position: relative;
        height: 70%;
        margin: 0 7%;
        border-bottom: 2px solid $yellow;
        display: flex;
        flex-direction: row;
        line-height: 50px;
        font-size: 30px;
        .search-form__input{
            height: 100%;
            box-sizing: border-box;
            background-color: transparent;
            border: none;
            margin: 0;
            padding: 0;
            flex: 1;
            font-size: 30px;
            color: $white;
            letter-spacing: 2px;
            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: rgba(255, 255, 255, 0.664);
                
            }
            
            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: $white;
            }
            
            &::-ms-input-placeholder { /* Microsoft Edge */
                color: $white;
            }
        }
        .search-form__btn{
            height: 100%;
            width: 50px;
            padding: 0;
            border: 0;
            flex: 0 0 50px;
            background-color: transparent;
            transition: all 0.3s linear;
            color: $white;
            cursor: pointer;
            &:hover{
                color: $blue;
            }
            .search-form__icon{
                
                font-size: 25px;
            }
        }
    }
}